<footer style="background-color:black;">
    <div class="columns" style="padding:40px;">
        
        <div class="column"><h3 style="color: white">TecNm Campus Colima</h3></div>
        <div class="column"><h3 style="color: white">Lenguajes web</h3></div>
        <div class="column"><h3 style="color: white"><small style="color:#006266;">Creado por:</small> Luis Enrique Del Toro Larios</h3></div>
    </div>
</footer>