<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <style>
    #formulario {
      background-image: url("https://i.pinimg.com/originals/48/6e/78/486e7896b1a2c03ed8b04ff3cf26b056.jpg");
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Agregar</title>
</head>

<body>
  {{>header}}
<br>
  <div class="columns" style="padding: 20px;">
    <div class="column is-6">
      <h1 class="title is-3" style="color:#006266;">Agregar una nota</h1>
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p style="text-align:justify; font-size:large; font-weight:bold; color:#e58e26;">
              A continuación se presenta un formulario para ingresar la información que conforma la nota, tomando en
              cuenta el titulo y el cuerpo del titulo para posteriormente enviarlos a la lista de notas por medio del
              metodo POST obtenido de las practicas escolares en la clase de clases web de la maestria en sistemas
              computacionales </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-6">
      <form class="box" action="/agregarnota" method="post"
        style="background-image: url('https://i.pinimg.com/736x/68/34/20/683420098faac1e27a55280c6fead466.jpg')">

        <h1 class="title is-3" style="color: #1e3799; margin-left: 86px;">Agregar Nota <i class="fa-solid fa-thumbtack"
            style="color:#ffa502"></i></h1>
        <div class="field">
          <label class="label" style="color: #1e3799; background-color:transparent;">Titulo</label>
          <div class="control">
            <input class="input" name="title" type="text"
              style=" font-weight:bold; color:#e58e26; margin-left: -21px; background-image: url('https://i.pinimg.com/736x/68/34/20/683420098faac1e27a55280c6fead466.jpg') "
              width="20px">
          </div>
        </div>
        <div class="field">
          <label class="label" style="color: #1e3799;">Cuerpo</label>
          <div class="control">
            <input class="input" name="bodyr" type="text"
              style=" font-weight:bold; color:#e58e26; margin-left: -21px; background-image: url('https://i.pinimg.com/736x/68/34/20/683420098faac1e27a55280c6fead466.jpg') "
              width="20px">
          </div>
        </div>

        <div style="margin-left: 70px;">
        <input class="button is-primary is-hovered" type="submit" value="Agregar">
        <button class="button is-danger " href="/index">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="column"></div>
  </div>
<br><br>
  {{>footer}}
</body>

</html>