<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Notas</title>
</head>

<body>
  {{>header}}
<br> <br>
  <div class="columns" style="padding: 20px;">
        <div class="column is-1"></div>

    <div class="column is-6">
      <h1 class="title is-3" style="color:#006266;">Lista de Notas</h1>
      <div class="card">
        <div class="card-content" style="border:7px solid#f6e58d;">
          <div class="content"><p style="text-align:justify; font-size:large; font-weight:bold; color:#e58e26; ">
            Notas es un buen ayudante para manejar sus notas. Te da una experiencia de tabla de notas de
            edici칩n r치pida y sencilla cuando se escriben el titulo y el cuerpo de la nota hasta formar una
            hacer la lista. Se hace para tomar una nota m치s f치cil que cualquier otra tabla de notas y memo de
            aplicaciones.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column"> <img src="https://i.picasion.com/pic92/9dcac17900ea85cd8a352f0385c19b99.gif" alt="" style="width: 400px; margin-left:40px; border:11px solid#f6e58d;">
    </div>
  </div>
  <div class="columns" style="padding: 20px;">

  

    <div class="column is-2">  </div>
 
 <div class="column is-8"> <img src="https://miro.medium.com/max/781/1*H46Xb6yPYaYXSwX7vP_w6A.png" alt="" style="border:11px solid#f6e58d;"> </div>
  
  </div>

    <div class="column is-1">  </div>

</body>
{{>footer}}


</html>