<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/2048px-Tailwind_CSS_Logo.svg.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Notas</title>
</head>
<body>
  {{>header}}
 
    <div class="columns" style="padding: 20px;">
        <div class="column">    <h1 class="title is-1" style="color:#006266;">Lista de Notas  NodeJs</h1></div>
        <div class="column">    <img src="https://midu.dev/images/tags/node.png" alt="" width="150px" style="margin-left: 90px;">    </div>
            <div class="column"> <img src="https://neftali.clubdelphi.com/wp-content/uploads/Metodos.png" width="350px" alt="">


        </div>
    </div>
      <div class="columns" style="padding: 20px;">
        <div class="column">    <img src="https://www.educative.io/v2api/editorpage/5012433147002880/image/5193198472265728" alt="" width="500px" >
</div>
        <div class="column">    <img src="https://static.vecteezy.com/system/resources/previews/001/893/480/non_2x/note-pad-thunder-designs-back-to-school-to-do-list-daily-notes-vector.jpg" alt="" style="margin-left:40px" width="300px" >
    </div>
            <div class="column"><img src="https://www.educative.io/v2api/editorpage/5012433147002880/image/5193198472265728" alt="" width="500px" ></div>
    </div>




</body>
  {{>footer}}
</html>